* {
    /*comandos para redefinir os espaços do navegador*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .alex-brush-regular {
    font-family: "Alex Brush", serif;
    font-weight: 400;
    font-style: normal;
  }

  body { 
    background-image: url(./assets/bg_desktop_.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
  }

  h1 { 
    font-family: "Alex Brush", serif;
    color: #472763;
    margin: 30px 0 30px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;
}

/* .address {
    height: 80px;

}
.address p { 
    display: flex;
    flex-direction: column;
    text-align: justify;
    align-items: center;
    justify-content: center;
} */

#onebox { 
    background-image: url(./assets/bg_div.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    max-width: 545px;
    height: 780px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

#content {
    max-width: 250px;
    width: 100%;
}

#profile {
    background-image: url(./assets/profile.png);
    background-size: contain;
    width: 110px;
    height: 110px;
    margin: auto;
    align-items: center;
}

.sitelinks a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    align-items: center;
    gap: 8px;
} 

.sitelinks img {
    width: 30px;
    height: 30px;
    object-fit: contain;
}

.sitelinks a:hover {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    transition: background 0.2s;
}

.sitelinks a:link, a:visited {
    color:#472763 ;
}

.sitelinks { 
    display: flex;
    flex-direction: row;
    gap: 50px;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    text-decoration: none;
}

.sitelinks p {
    display: flex;
    text-align: center;
    font-size: 12px;
    text-justify: distribute-all-lines;
    justify-content: center;
    font-weight: 500;
    font-family: "Concert One", serif;
}

.maps iframe { 
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover;
    max-width: 400px; 
    max-height: 240px; 
    border: 30px;  
    margin: auto;
}

.maps {
    margin-bottom: 50px;
}


@media (max-width:480px) { 
    #onebox{ 
        margin: 16px; 
        max-width: 350px;
    
}

    .maps { 
        max-height: 300px;
    }
}

footer {
    display: flex;
    align-items: center;
    justify-content:center;
    font-family: "Concert One", serif;
    font-weight: 500;
   }

   footer a {
       color: #472763;
       text-decoration: none;
   }
