* {
    /*comandos para redefinir os espaços do navegador*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .alex-brush-regular {
    font-family: "Alex Brush", serif;
    font-weight: 400;
    font-style: normal;
  }

  .concert-one-regular {
    font-family: "Concert One", serif;
    font-weight: 400;
    font-style: normal;
  }
  

  h1 { 
    font-family: "Alex Brush", serif;
    color: #472763;
    margin: 30px 0 30px 0;
}

  body { 
    background-image: url(./assets/bg_desktop_.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#onebox { 
    background-image: url(./assets/bg_div.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    max-width: 630px;
    height: 900px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

#content {
    max-width: 250px;
    width: 100%;
    border: 2px black;
}

#profile {
    background-image: url(./assets/profile.png);
    background-size: contain;
    width: 110px;
    height: 110px;
    margin: auto;
    align-items: center;
}

.barra { 
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 30px 0 30px 0;
    
}

ul {
    list-style: none; /*retira os pontos do formato de lista*/
    display: flex; /*faz ela ser um display flexivel*/
    flex-direction: column; /*define que a lista vai ser em formato de colula*/
    gap: 10px; /*espaçamento entre os itens da lista*/
    /* padding: 24px 0; */
    margin-bottom: 10px;
}

ul li p {
    display: flex;
    justify-content: center; /*alinha oq foi escrito meio da tela */
    align-items: center; /*alinha oq foi escrito no meio da linha*/
    padding: 16px 24px;
    background: rgba(0, 0, 0, 0.05); /*quando mais perto do 0:preto, quando mais perto do 255:branco */
    border: 1px solid rgba(255, 255, 255, 0.5); /*alpha:opacidade de 0 até 1*/
    border-radius: 8px; /*para arrendondar as bordas*/
    -webkit-backdrop-filter: blur(4px);
    /*esse comando vai dar uma leve embaçada na box, mas é bom pesquisar no site caniuse.com para ver se tem restrição (por isso o comando webkit antes, para funcionar no safari)*/
    text-decoration: none;
    font-weight: 500;
    transition: background 0.5s;
    font-family: "Concert One", serif;
}

ul li p:hover {
    background: rgba(0, 0, 0, 0.02) ;
    border: 1.5px solid ghostwhite;
    -webkit-backdrop-filter: blur(10px);
}

.sitelinks a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    align-items: center;
    gap: 8px;
} 

.sitelinks img {
    width: 30px;
    height: 30px;
    object-fit: contain;
}

.sitelinks a:hover {
    background: rgba(0, 0, 0, 0.1);
    padding: 8px;
    border-radius: 8px;
    transition: background 0.2s;
}

.sitelinks a:link, a:visited {
    color:#472763 ;
}

.sitelinks { 
    display: flex;
    flex-direction: row;
    gap: 50px;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    text-decoration: none;
}

.sitelinks p {
    display: flex;
    text-align: center;
    font-size: 12px;
    text-justify: distribute-all-lines;
    justify-content: center;
    font-weight: 500;
    font-family: "Concert One", serif;
}


@media (max-width:480px) { 
    
    #onebox{ 
        margin: auto; 
        max-width: 450px;
        margin-bottom: 20px;
        background-image: url(./assets/bg_mobile.png);
    }


}

footer {
     display: flex;
     align-items: center;
     justify-content:center;
     font-family: "Alex brush", serif;
     font-weight: 500;
     color: #292763;
     font-size: 20px;
    }

    footer a {
        color: #292763;
        text-decoration: none;
    }

    
    